In [1]:
from elo import Elo
import pandas as pd
from datetime import datetime

elo = Elo()

# Create the initial rankings

Please add your name and rerun all the cells below

In [2]:
names = ['Hanefi', 'Onur','Metin', 'Ekin', 'Aybuke']

elo_history = pd.DataFrame(columns=['timestamp'] + names)
elo_history.loc[0] = elo.create_rating();
elo_history['timestamp'] = datetime.strptime('10/03/2020 12:00', "%d/%m/%Y %H:%M")

matches = pd.DataFrame(columns=['winner', 'loser', 'timestamp'])

In [3]:
def record_game_result(winner, loser, timestamp):
    global elo_history
    global matches
    
    timestamp = datetime.strptime(timestamp, "%d/%m/%Y %H:%M")
    
    elo_history = elo_history.append(pd.DataFrame(data=elo_history.tail(1).values, columns=elo_history.columns),ignore_index=True)
    matches = matches.append({'winner': winner, 'loser': loser, 'timestamp': timestamp}, ignore_index=True)

    winner_prev, loser_prev = elo_history.loc[len(elo_history)-1, [winner, loser]]
    winner_next, loser_next = elo.rate_1vs1(winner_prev, loser_prev)
    
    elo_history.loc[len(elo_history)-1, 'timestamp'] = timestamp
    elo_history.loc[len(elo_history)-1, winner] = winner_next
    elo_history.loc[len(elo_history)-1, loser] = loser_next
    
    print(f"{winner}, {winner_prev} -> {winner_next}")
    print(f"{loser}, {loser_prev} -> {loser_next}")
    print()
    
    elo_history.to_csv('elo_history.csv')
    matches.to_csv('matches.csv', index=False)

In [4]:
record_game_result('Hanefi', 'Onur', '10/03/2020 14:00')
record_game_result('Metin', 'Hanefi', '10/03/2020 15:45')
record_game_result('Onur', 'Hanefi', '11/03/2020 12:45')
record_game_result('Hanefi', 'Ekin', '11/03/2020 16:00')
record_game_result('Hanefi', 'Aybuke', '12/03/2020 16:25')
record_game_result('Metin', 'Aybuke', '12/03/2020 17:50')
record_game_result('Onur', 'Hanefi', '13/03/2020 12:45')
record_game_result('Metin', 'Onur', '13/03/2020 15:30')
record_game_result('Onur', 'Hanefi', '13/03/2020 17:45')
record_game_result('Metin', 'Onur', '13/03/2020 18:00')
record_game_result('Metin', 'Hanefi', '10/03/2020 18:15')

Hanefi, 1200.0 -> 1205.0
Onur, 1200.0 -> 1195.0

Metin, 1200.0 -> 1205.0719508170905
Hanefi, 1205.0 -> 1199.9280491829095

Onur, 1195.0 -> 1200.0709155729462
Hanefi, 1199.9280491829095 -> 1194.8571336099633

Hanefi, 1194.8571336099633 -> 1199.931140001647
Ekin, 1200.0 -> 1194.9259936083163

Hanefi, 1199.931140001647 -> 1204.9321309766697
Aybuke, 1200.0 -> 1194.9990090249773

Metin, 1205.0719508170905 -> 1209.92703013414
Aybuke, 1194.9990090249773 -> 1190.1439297079278

Onur, 1200.0709155729462 -> 1205.1408695213622
Hanefi, 1204.9321309766697 -> 1199.8621770282537

Metin, 1209.92703013414 -> 1214.8581561028125
Onur, 1205.1408695213622 -> 1200.2097435526898

Onur, 1200.2097435526898 -> 1205.2047416699959
Hanefi, 1199.8621770282537 -> 1194.8671789109476

Metin, 1214.8581561028125 -> 1219.7192680401133
Onur, 1205.2047416699959 -> 1200.343629732695

Metin, 1219.7192680401133 -> 1224.3622264606065
Hanefi, 1194.8671789109476 -> 1190.2242204904544

In [5]:
elo_history

             timestamp   Hanefi     Onur    Metin     Ekin   Aybuke
0  2020-03-10 12:00:00     1200     1200     1200     1200     1200
1  2020-03-10 14:00:00     1205     1195     1200     1200     1200
2  2020-03-10 15:45:00  1199.93     1195  1205.07     1200     1200
3  2020-03-11 12:45:00  1194.86  1200.07  1205.07     1200     1200
4  2020-03-11 16:00:00  1199.93  1200.07  1205.07  1194.93     1200
5  2020-03-12 16:25:00  1204.93  1200.07  1205.07  1194.93     1195
6  2020-03-12 17:50:00  1204.93  1200.07  1209.93  1194.93  1190.14
7  2020-03-13 12:45:00  1199.86  1205.14  1209.93  1194.93  1190.14
8  2020-03-13 15:30:00  1199.86  1200.21  1214.86  1194.93  1190.14
9  2020-03-13 17:45:00  1194.87   1205.2  1214.86  1194.93  1190.14
10 2020-03-13 18:00:00  1194.87  1200.34  1219.72  1194.93  1190.14
11 2020-03-10 18:15:00  1190.22  1200.34  1224.36  1194.93  1190.14

In [6]:
matches

    winner   loser           timestamp
0   Hanefi    Onur 2020-03-10 14:00:00
1    Metin  Hanefi 2020-03-10 15:45:00
2     Onur  Hanefi 2020-03-11 12:45:00
3   Hanefi    Ekin 2020-03-11 16:00:00
4   Hanefi  Aybuke 2020-03-12 16:25:00
5    Metin  Aybuke 2020-03-12 17:50:00
6     Onur  Hanefi 2020-03-13 12:45:00
7    Metin    Onur 2020-03-13 15:30:00
8     Onur  Hanefi 2020-03-13 17:45:00
9    Metin    Onur 2020-03-13 18:00:00
10   Metin  Hanefi 2020-03-10 18:15:00

In [7]:
pd.value_counts(matches['winner'])

Metin     5
Onur      3
Hanefi    3
Name: winner, dtype: int64

In [8]:
pd.value_counts(matches['loser'])

Hanefi    5
Onur      3
Aybuke    2
Ekin      1
Name: loser, dtype: int64

In [ ]:
df