In [1]:
from elo import Elo
import pandas as pd
from datetime import datetime

elo = Elo()

# Create the initial rankings

Please add your name and rerun all the cells below

In [2]:
df = pd.DataFrame(index=['Hanefi', 'Onur','Metin', 'Ekin'], columns=['rating'])
df['rating'] = elo.create_rating()

matches = pd.DataFrame(columns=['winner', 'loser', 'timestamp'])

In [3]:
def record_game_result(winner, loser, timestamp):
    global matches
    winner_prev, loser_prev = df.rating[[winner, loser]]
    df.rating[[winner, loser]] = elo.rate_1vs1(winner_prev, loser_prev)
    
    matches = matches.append({'winner': winner, 'loser': loser, 'timestamp': datetime.strptime(timestamp, "%d/%m/%Y %H:%M")}, ignore_index=True)

    print(f"{winner}, {winner_prev} -> {df.rating[winner]}")
    print(f"{loser}, {loser_prev} -> {df.rating[loser]}")
    print()
    
    df.sort_values(by=['rating'], inplace=True, ascending=False)
    
    df.to_csv('scores.csv')
    matches.to_csv('matches.csv', index=False)

In [4]:
record_game_result('Hanefi', 'Onur', '10/03/2020 14:00')
record_game_result('Metin', 'Hanefi', '10/03/2020 15:45')
record_game_result('Onur', 'Hanefi', '11/03/2020 12:45')
record_game_result('Hanefi', 'Ekin', '11/03/2020 16:00')

Hanefi, 1200.0 -> 1205.0
Onur, 1200.0 -> 1195.0

Metin, 1200.0 -> 1205.0719508170905
Hanefi, 1205.0 -> 1199.9280491829095

Onur, 1195.0 -> 1200.0709155729462
Hanefi, 1199.9280491829095 -> 1194.8571336099633

Hanefi, 1194.8571336099633 -> 1199.931140001647
Ekin, 1200.0 -> 1194.9259936083163

In [5]:
df

             rating
Metin   1205.071951
Onur    1200.070916
Hanefi  1199.931140
Ekin    1194.925994

In [6]:
matches

   winner   loser           timestamp
0  Hanefi    Onur 2020-03-10 14:00:00
1   Metin  Hanefi 2020-03-10 15:45:00
2    Onur  Hanefi 2020-03-11 12:45:00
3  Hanefi    Ekin 2020-03-11 16:00:00

In [7]:
! open .